<header id="header" class="position-fixed w-100 navbar navbar-expand-lg navbar-end navbar-light bg-white">
    <div class="mx-md-5 mx-1 w-100">
        <nav class="js-mega-menu navbar-nav-wrap">
            <a class="navbar-brand" href="/" aria-label="Space">
                <img loading="lazy" class="navbar-brand-logo" src="content/images/webp/sell2rent.com-logo.webp"
                     alt="Sell2Rent Logo">
            </a>
            <a data-target="menu" class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
               aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                </span>
            </a>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="how-it-works-header hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{"desktop": {"maxWidth": "30rem"}}'>
                        <a data-target="how_it_works" id="landingsMegaMenu"
                           class="hs-mega-menu-invoker nav-link dropdown-toggle" aria-current="page" role="button"
                           aria-expanded="false">How It works</a>
                        <div id="how_it_works" class="hs-mega-menu hs-position-right-fix dropdown-menu"
                             aria-labelledby="landingsMegaMenu" style="min-width: 100%;">
                            <div class="navbar-dropdown-menu-inner d-md-flex justify-content-between">
                                <div
                                        class="col-xs-12 col-sm-12 col-md-4 column-1 d-flex justify-content-md-end align-items-md-start p-md-4">
                                    <div class="d-flex flex-column align-md-items-end justify-content-center p-6">
                                        <div>
                                            <a href="/our_program"
                                               class=" text-white fs-5 fw-normal fst-italic">Programs</a>
                                            <div
                                                    class="links d-flex flex-column justify-content-center align-items-start">
                                                <a href="/our_program#advantage"
                                                   class=" text-white fs-6  fw-normal ">Advantages</a>
                                                <a href="/our_program#how_it_works"
                                                   class="text-white fs-6  fw-normal ">How
                                                    It Works</a>
                                                <a href="/our_program#faqs"
                                                   class=" text-white fs-6  fw-normal ">FAQ's</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 column-2">
                                    <div class="d-flex align-items-center justify-content-center p-2 p-md-6">
                                        <div class="row text-center">
                                            <div
                                                    class="col-xs-12 col-sm-12 col-md-6 flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" class="text-xs-center text-sm-center mb-md-3" width="75"
                                                     src="content/images/svg/official_icons/house_icon_sell2rent.svg"
                                                     alt="Sell & Leaseback - Sell your House">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold text-xs-center"
                                                       href="/our_program">Sell &
                                                        Leaseback</a>
                                                    <p class="text-body mt-1">Sell Your House, Cash Out, Stay as a
                                                        Renter.</p>
                                                </div>
                                            </div>
                                            <div
                                                    class="col-xs-12 col-sm-12 col-md-6 flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75" class="text-xs-center text-sm-center mb-md-3"
                                                     src="content/images/svg/official_icons/car_with_luggage_sell2rent_move_out_program.svg"
                                                     alt="Sell & Move Out">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold"
                                                       href="/our_program#sell_and_move_out">Sell &
                                                        Move Out</a>
                                                    <p class="text-start">Sell Your House and Move Out</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 column-3">

                                    <div
                                            class="d-flex flex-column align-items-end justify-content-center p-6 h-100 gap-5">
                                        <!--<button class="w-100 btn btn-primary">Request Offers</button>-->
                                    </div>
                                </div>
                                <!-- End Row -->
                            </div>
                            <!-- End Main Content -->
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <li class="for-partners-header hs-has-mega-menu nav-item"
                        data-hs-mega-menu-item-options='{"desktop": {"maxWidth": "30rem"}}'>
                        <a data-target="for_partners" id="landingsMegaMenu2"
                           class="hs-mega-menu-invoker nav-link dropdown-toggle" aria-current="page" role="button"
                           aria-expanded="false">For Partners</a>
                        <div id="for_partners" class="hs-mega-menu hs-position-right-fix dropdown-menu"
                             aria-labelledby="landingsMegaMenu2" style="min-width: 100%;">
                            <div class="navbar-dropdown-menu-inner d-md-flex justify-content-between">
                                <div class="col-xs-12 col-sm-12 col-md-4 column-1 d-flex justify-content-md-end align-items-md-start p-md-4">
                                    <div class="d-flex flex-column align-items-end justify-content-center p-6">
                                        <div>
                                            <a href="/partners" class=" text-white fs-5 fw-normal fst-italic">Partners</a>
                                            <div class="links d-flex flex-column justify-content-center align-items-start">
                                                <a href="/investors"
                                                   class=" text-white fs-6 fw-normal">Investors</a>
                                                <a href="/agents" class="text-white fs-6 fw-normal">Agents</a>
                                                <a href="/strategic_partners"
                                                   class=" text-white fs-6 fw-normal">Strategic
                                                    Partners</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 column-2">
                                    <div class="d-flex align-items-center justify-content-center p-2 p-md-6">
                                        <div class="row text-center">
                                            <div
                                                    class="col-xs-12 col-sm-12 col-md-4 flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75" class="text-xs-center text-sm-center mb-md-3"
                                                     src="content/images/svg/official_icons/bid_on_an_auction_icon.svg"
                                                     alt="Investors - Work with Sell2Rent to Invest in homes">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold" href="/investors">Investors</a>
                                                    <p class="text-start">Work with Sell2Rent to invest in homes
                                                        across the country through our Sell & Leaseback program.</p>
                                                </div>
                                            </div>
                                            <div
                                                    class="col-xs-12 col-sm-12 col-md-4 flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75" class="text-xs-center text-sm-center mb-md-3"
                                                     src="content/images/svg/official_icons/found_a_house_sell2rent.svg"
                                                     alt="Agents - Grow your business and stand out in your
                                                     market with sale-leaseback offerings">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold" href="/agents">Agents</a>
                                                    <p class="text-start">Grow your business and stand out in your
                                                        market with sale-leaseback offerings that give clients more
                                                        flexibility.</p>
                                                </div>
                                            </div>
                                            <div
                                                    class="col-xs-12 col-sm-12 col-md-4 flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75" class="text-xs-center text-sm-center mb-md-3"
                                                     src="content/images/svg/official_icons/teamwork_hands_over_each_other_sell2rent.svg"
                                                     alt="Strategic Partners -Stand out in your market and grow your
                                                     referral business">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold" href="/strategic_partners">Strategic
                                                        Partners</a>
                                                    <p class="text-start">Stand out in your market and grow your
                                                        referral business with new alternatives that help your
                                                        clients.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about-us-header hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{"desktop": {"maxWidth": "30rem"}}'>
                        <a data-target="about_us" id="landingsMegaMenu3"
                           class="hs-mega-menu-invoker nav-link dropdown-toggle" aria-current="page" role="button"
                           aria-expanded="false">About Us</a>

                        <!-- Mega Menu -->
                        <div id="about_us" class="hs-mega-menu hs-position-right-fix dropdown-menu" aria-labelledby="landingsMegaMenu3" style="min-width: 100%;">
                            <!-- Main Content -->
                            <div class="navbar-dropdown-menu-inner d-md-flex justify-content-between">

                                <div class="col-xs-12 col-sm-12 col-md-4 column-1 d-flex justify-content-md-end align-items-md-start p-md-4">
                                    <div class="d-flex align-items-center p-6">
                                        <a class="w-50 text-white fs-5  fw-normal fst-italic" href="/about_us">About Sell2Rent</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 column-2">
                                    <div class="d-flex align-items-center justify-content-center p-2 p-md-6">
                                        <div class="row text-center">
                                            <div
                                                    class="col-xs-12 col-sm-12 col-md-6 flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75" class="text-xs-center text-sm-center mb-md-3"
                                                     src="content/images/svg/official_icons/packed_over_a_box_sell2rent.svg"
                                                     alt="About Sell2Rent - Our story, or vision and our approach">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold" href="/about_us">About Sell2Rent</a>
                                                    <p class="text-start">Our story, or vision and our approach.</p>
                                                </div>
                                            </div>
                                            <div
                                                    class="col-xs-12 col-sm-12 col-md-6 flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75" class="text-xs-center text-sm-center mb-md-3"
                                                     src="content/images/svg/official_icons/family_on_a_circle_icon_sell2rent.svg"
                                                     alt="Our Team - Our leadership and our team">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold" href="/about_us#our_team">Our
                                                        Team</a>
                                                    <p class="text-start">Our leadership and our team.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 column-3">

                                    <div
                                            class="d-flex flex-column align-items-end justify-content-center p-6 h-100 gap-5">
                                        <a href="https://sell2rent.zohorecruit.com/jobs/Careers" class="w-100 btn btn-primary">Careers</a>
                                        <!--<a href="internship" class="w-100 btn btn-primary">Internship Program</a>-->

                                    </div>
                                </div>
                                <!-- End Row -->
                            </div>
                            <!-- End Main Content -->
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <li class="learn-more-header hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{"desktop": {"maxWidth": "30rem"}}'>
                        <a data-target="learn_more" id="landingsMegaMenu4"
                           class="hs-mega-menu-invoker nav-link dropdown-toggle" aria-current="page" role="button"
                           aria-expanded="false">Learn More</a>

                        <!-- Mega Menu -->
                        <div id="learn_more" class="hs-mega-menu hs-position-right-fix dropdown-menu"
                             aria-labelledby="landingsMegaMenu4" style="min-width: 100%;">
                            <!-- Main Content -->
                            <div class="navbar-dropdown-menu-inner d-md-flex justify-content-between">

                                <div
                                        class="col-xs-12 col-sm-12 col-md-4 column-1 d-flex justify-content-md-end align-items-md-start p-md-4">
                                    <div class="d-flex align-items-center p-5">
                                        <a class="text-white fs-5  fw-normal fst-italic">Learn More</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 column-2">
                                    <div class="d-flex align-items-center justify-content-center p-2 p-md-6">
                                        <div class="row text-center">
                                            <div
                                                    class="flex-md-column d-flex justify-content-start align-items-start px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75"
                                                     src="content/images/svg/official_icons/raising_hands_sell2rent_investors.svg"
                                                     alt="Frequently Asked Questions for Sellers, Investors and Agents">
                                                <div class="text-start">
                                                    <h5 class="fs-6 fw-bold">Frequently Asked Questions</h5>
                                                    <div class="d-grid">
                                                        <a href="/our_program#faqs">For Sellers</a>
                                                        <a href="/investors#faqs">For Investors</a>
                                                        <a href="/agents#faqs">For Agents</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- End Row -->
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 column-3">
                                    <div class="d-flex align-items-center justify-content-center p-5">
                                        <div class="text-center">
                                            <div
                                                    class="flex-md-column d-flex justify-content-start align-items-center px-md-8 mt-5 mt-md-0 gap-4 gap-md-0">
                                                <img loading="lazy" width="75"
                                                     src="content/images/svg/official_icons/megaphone_announcing_leaseback_news.svg"
                                                     alt="New & Insights page ">
                                                <div class="text-start">
                                                    <a href="/blog">
                                                        <h5 class="fs-6 fw-bold text-black">News & Insights</h5>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- End Row -->
                                </div>
                                <!-- End Main Content -->
                            </div>
                        </div>  <!-- End Mega Menu -->
                    </li>
                    <li class="contact-us-header hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{"desktop": {"maxWidth": "30rem"}}'>
                        <a data-target="contact_us" id="landingsMegaMenu5"
                           class="hs-mega-menu-invoker nav-link dropdown-toggle" aria-current="page" role="button"
                           aria-expanded="false">Contact Us</a>

                        <!-- Mega Menu -->
                        <div id="contact_us" class="hs-mega-menu hs-position-right-fix dropdown-menu"
                             aria-labelledby="landingsMegaMenu5" style="min-width: 100%;">
                            <!-- Main Content -->
                            <div class="navbar-dropdown-menu-inner d-md-flex justify-content-between">
                                <div
                                        class="col-xs-12 col-sm-12 col-md-4 column-1 d-flex justify-content-md-end align-items-md-start p-md-4">
                                    <div class="d-flex align-items-center p-6">
                                        <!--<a class="text-white fs-5  fw-normal fst-italic" href="contact_us">Contact Us</a>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 column-2">
                                    <div class="d-flex align-items-center justify-content-center p-2 p-md-6">
                                        <div class="row text-center">
                                            <div
                                                    class="col-12  d-flex justify-content-start align-items-center px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-5">
                                                <img loading="lazy" width="75"
                                                     src="content/images/svg/official_icons/phone_and_dollar_sign_sell2rent.svg"
                                                     alt="Contact us - call us ">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold" href="tel:18009546373">1-800-954-6373</a>
                                                </div>
                                            </div>
                                            <div class="col-12  d-flex justify-content-start align-items-center px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-5">
                                                <img loading="lazy" width="75"
                                                     src="content/images/svg/official_icons/contract_on_an_envelope_sell2rent.svg"
                                                     alt="Contact us - email">
                                                <div class="text-start">
                                                    <a class="h5 fs-6 fw-bold" href="mailto:info&#64;sell2rent&#46;com">info&#64;sell2rent&#46;com</a>
                                                </div>
                                            </div>
											
											
											    <div class="col-12  d-flex justify-content-start align-items-center px-md-8 px-5 mt-5 mt-md-0 gap-4 gap-md-5">
                                                <img loading="lazy" width="75"
                                                     src="content/images/svg/official_icons/large_apartment_complex_sell2rent.svg"
                                                     alt="Contact us -  Regular mail">
                                                <div class="text-start">
                                                    <p class="h5 fs-6 fw-bold">19790 W Dixie Hwy STE 501, Miami, FL 33180</p>
                                                </div>
                                            </div>
											
                                        </div>
                                    </div>
                                    <!-- End Row -->
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 column-3">
                                    <div
                                             class="d-flex align-items-center justify-content-md-end justify-content-center p-6 h-100">
                                        <!--<button class="btn btn-primary w-100 w-md-50">Schedule Meeting</button>-->
                                    </div>
                                    <!-- End Row -->
                                </div>
                                <!-- End Row -->
                            </div>
                            <!-- End Main Content -->
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <li class="nav-divider"></li>
                    <li class="nav-item">
                        <div class="d-flex float-end">
						  
                      <a class="btn btn-primary mb-2" href="/index.html#getstarted">Get Started</a>
                    
                            <!--<a class="js-animation-link d-none d-lg-inline-block btn btn-primary"
                               href="index.html#getstarted" role="button" data-bs-toggle="modal"
                               data-bs-target="#signupModal"
                               data-hs-show-animation-options='{
                                   "targetSelector": "#signupModalFormSignup",
                                   "groupName": "idForm"
                               }'>
                                Get Started
                            </a>-->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
