<footer class="bg-primary-color border-top border-white-10">
    <div class="container">
      <div class="row content-space-1">
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Logo -->
          <div class="mb-5">
            <a class="navbar-brand" href="/" aria-label="Space">
              <img loading="lazy" class="navbar-brand-logo" src="content/images/webp/sell2rent.com-logo.webp"
                alt="Sell2Rent Footer Logo">
            </a>
          </div>
		  
		  <div class="link-sm link-light fs-6 "><span>19790 W Dixie Hwy, STE 501<br>Miami, FL 33180-2294<br>1-800-954-6373</span></div>
          <!-- End Logo -->
		 
		
          <div class="col-md d-md-flex mt-4">
            <!-- Socials -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="https://www.facebook.com/sell2rent">
                  <i class="bi-facebook color-secondary"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="https://www.linkedin.com/company/64507908/admin/">
                  <i class="bi-linkedin color-secondary"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="https://www.instagram.com/sell2rentusa/">
                  <i class="bi-instagram color-secondary"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="https://www.tiktok.com/@sell2rent">
                  <i class="bi-tiktok color-secondary"></i>
                </a>
              </li>
            </ul>
            <!-- End Socials -->
          </div>

          
        </div>
        <!-- End Col -->
        
        <div class="col-2 mb-7 mb-sm-0">
          
          <!-- End List -->
        </div>

       
        

        <div class="col-sm mb-7 mb-sm-0">
          <span class="text-white fst-italic fw-normal fs-5">Quick Links</span>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0 mt-3">
            <li><a class="link-sm link-light fs-6 text-white" href="index">Home</a></li>      
            <li><a class="link-sm link-light fs-6 " href="/about_us">About Sell2Rent</a></li> 
            <li><a class="link-sm link-light fs-6 " href="/our_program">Our Program</a></li>
            <li><a class="link-sm link-light fs-6 " href="/agents">Agents</a></li>
            <li><a class="link-sm link-light fs-6 " href="/investors">Investors</a></li>
            <!-- <li><a class="link-sm link-light fs-6 " href="contact_us">Contact Us</a></li>-->    
            <li><a class="link-sm link-light fs-6 " href="/blog">News and Insights</a></li>
            <li><a class="link-sm link-light fs-6 " href="https://sell2rent.zohorecruit.com/jobs/Careers">Careers</a></li>
            <!-- <li><a class="link-sm link-light fs-6 " href="internship">Internship</a></li>-->
            <li><a class="link-sm link-light fs-6 " href="/privacy_policy">Privacy Policy</a></li>
            <li><a class="link-sm link-light fs-6 " href="/terms_and_conditions">Terms and Conditions</a></li>
            <li><a class="link-sm link-light fs-6 " href="/cookies_policy">Cookies Policy</a></li>    
              
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-sm mb-7 mb-sm-0">
          <span class="text-white fst-italic fw-normal fs-5">Frequently Asked Questions</span>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0 mt-3">
            <li><a class="link-sm link-light fs-6 " href="/our_program#faqs">FAQ for Homeowners / Sellers</a></li>
            <li><a class="link-sm link-light fs-6 " href="/investors#faqs">FAQ for Investors</a></li> 
            <li><a class="link-sm link-light fs-6 " href="/agents">FAQ for Agents</a></li>
            <li><a class="link-sm link-light fs-6 " href="/strategic_partners#faqs">FAQ for Strategic Partners</a></li>              
              
          </ul>
          <!-- End List -->
		  
        </div>
        <!-- End Col -->

      </div>
      <!-- End Row -->

      <div class="border-top border-white-10"></div>

      <div class="row align-items-md-end py-5">
        <div class="col-md mb-3 mb-md-0">
          <p class="text-white mb-0 text-center">© 2023 Sell2Rent Corporation All Rights Reserved</p>
        </div>

      
      </div>
    </div>
  </footer>
  